graphs/ filter=lfs diff=lfs merge=lfs -text
graphs/foldconstant.pdf filter=lfs diff=lfs merge=lfs -text
graphs/nofoldconstant.pdf filter=lfs diff=lfs merge=lfs -text
graphs/oldfoldconstant.pdf filter=lfs diff=lfs merge=lfs -text
graphs/oldnofoldconstant.pdf filter=lfs diff=lfs merge=lfs -text
