[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
torch = "==0.4.1"
torchvision = "*"
requests = "*"
matplotlib = "*"
decorator = "*"
attr = "*"
attrs = "*"
cairosvg = "*"
paramiko = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
